.list{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center ;
    margin-top: 3%;
}
.categories-1{
    border:  1px solid black;
    margin-top: 6.64vh;
}

.nos-p img{
    position: relative;
    align-items: flex-start;
}

.nos-p .tit-p{
    position: absolute;
    /* z-index: 999999999; */
    margin-top: 16vh;
    margin-left: calc((100vw - 100vw) / 2) ;
text-align: center;
color: aliceblue;
/* font-size: %; */
flex-wrap: nowrap;
width: 100%;
font-size: 200%;

}
.iii{
    margin: 0;
    height: 35vh;
    /* /* background-image: url('../../public/font.jpg'); * */
    background-image: url("../../public/trax.jpg");
    position: relative;
}